@model Analise_Acoes_NICHOLAS.Models.Company
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Chart Example</title>
    
</head>

<body>
    <p2>
        Lista de Companhias, preço =

    </p2>
@foreach (var item2 in ViewBag.Price)
    {
    <p>@item2</p>
}    
@*<p>
    @Html.DisplayNameFor(model => model.filename)
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Company)
    {
        <tr>
            <td>
               @item.ID
            </td>
            <td>
                @item.Sigla
            </td>
            <td>
                @item.Nome
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
