@model Analise_Acoes_NICHOLAS.Models.CompanyListModel

@{
    ViewData["Title"] = "BuscaCompany";
}

<h2>Index</h2>

<form asp-controller="CompanyList" asp-action="BuscaCompany" method="get">
    <p>
        <select asp-for="companySymbol" asp-items="Model.SList">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Charts" asp-route-Symbol="@item.Sigla" asp-route-months="5">Charts</a> 
                </td>
            </tr>
        }
    </tbody>
</table>