@model Analise_Acoes_NICHOLAS.Models.Company

@{
    ViewData["Title"] = "Index";
}

<head>
    <style>
        div.chart-container {
            display:none ;
        }
        td.chart-Show {
            background: url('../../wwwroot/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.chart-Show {
            background: url('../../wwwroot/images/details_close.png') no-repeat center center;
        }
        </style>
    <script  type="text/javascript" class="init">
        var symbol;
        var start = new Date();
        start.setMonth(8);
        start = start.toISOString();
        $(document).ready(function () {
            var table = $('#indexTable').DataTable({
                "processing": true,
                "deferLoading": 10,
                "columns": [
                    {
                        "className": 'chart-Show',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '+'
                    },
                    { "data":  "@Html.DisplayNameFor(model => model.Symbol)" },
                    { "data": "@Html.DisplayNameFor(model => model.Nome)"},
                    {
                        "className": 'chart-control',
                        "orderable": false,
                        "data": "period",
                        "defaultContent": ''
                    },                    
                ],
            }
            );
            $('#indexTable tbody').on('click', 'td.chart-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var data = table.row(tr).data();
                symbol = data.Symbol;
                //alert("The new symbol value is " + symbol);
            });
            $('#indexTable tbody').on('click', 'td.chart-Show', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var data = table.row(tr).data();

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {                  
                    row.child( $(
                        '<div id="chart-container'+data.Symbol+'" class="chart-container" style="height:40vh; width:60vw">' +
                            '<canvas id="myLineChart'+data.Symbol+'"></canvas>' +
                        '</div>'
                    )).show();                   
                    //drawLineChart(data.Symbol);
                    drawLineChartPeriod(data.Symbol,start);
                    tr.addClass('shown');
                }
            });
        });
        //});
        function setStartValue() {
            start = document.getElementById("startInput").value;
            //alert("The new start value is " + start);
            //drawLineChartPeriod(symbol, start);
        }
        $(window).load(function () {
            // When the page has loaded
            $("table").fadeIn(2000);
        });
    </script>
    <style>        table {
            display: none;
        }
    </style>

</head>
<body>
              <table id="indexTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Symbol)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                        
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Company)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @item.Symbol
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                @*<form>*@
                                    <input id="symbolInput" type="hidden" name="Symbol" value="@item.Symbol" />
                                    Start Date: <input id="startInput" type="date" name="start" value="2017-08-01" >
                                    @*Fim: <input id="endInput" type="date" name="end" value="@ViewBag.Date">*@

                                    @*<input id="sendInput" type="submit" asp-action="Charts" asp-route-Symbol="@item.Symbol"/>*@
                                    <button id="sendInput" onclick="setStartValue()">Send</button>
                                @*</form>*@
                            </td>                            
                        </tr>
                    }
                </tbody>
            </table>
</body>