@model Analise_Acoes_NICHOLAS.Models.Company

@{
    ViewData["Title"] = "Index";
}

<head>
    <script type="text/javascript" class="init">
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "processing": true,
                "deferLoading": 10,
            }
                );           
            $('#example tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                alert('You clicked on ' + data[0] + '\'s row');
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
            });
        //});
        $(window).load(function () {
            // When the page has loaded
            $("table").fadeIn(2000);
        });

        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Full name:</td>' +
                '<td>'+'</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extension number:</td>' +
                '<td>'+'</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
                '</tr>' +
                '</table>';
        }

    </script>
    <style>        table {
            display: none;
        }
    </style>

</head>
<body>
    @*<div class="wrapper">
        <div class="table-responsive">*@
              <table id="example" class="display" width="100%">
                @*Cria Tabela com os valores lidos do arquivo*@
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sigla)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Company)
                    {
                        <tr>
                            <td>
                                @item.Sigla
                            </td>
                            <td>
                                @item.Nome
                            </td>
                            <td>
                                <form>
                                    <input type="hidden" name="Symbol" value="@item.Sigla" />
                                    Inicio: <input type="date" name="start" value="2017-08-01">
                                    Fim: <input type="date" name="end" value="@ViewBag.Date">

                                    <input type="submit" asp-action="Charts" asp-route-Symbol="@item.Sigla" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        @*</div>
    </div>*@

</body>