@model Analise_Acoes_NICHOLAS.Models.Company
@{
    ViewData["Title"] = "Index";
}

<head>
    <title>Chart Example</title>
    
</head>

<body>
    @*Cria Tabela com os valores lidos do arquivo*@
<table class="table"> 
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Company)
    {
        <tr>
            <td>
               @item.ID
            </td>
            <td>
                @item.Sigla
            </td>
            <td>
                @item.Nome
            </td>
            <td>
                <form>
                    <input type="hidden" name="Symbol" value="@item.Sigla"/> @*como defino esse input hidden?*@
                    @*<input type="submit"/>*@
                      Periodo: <input type="number" name="months">  @*esse input vai certo, como month=input*@
        <input type="submit" asp-action="Charts" asp-route-Symbol="@item.Sigla" @*asp-route-months="2"*@/></form>
                @*<a asp-action="Charts" asp-route-Symbol="@item.Sigla" asp-route-months="period">Charts</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
